In [0]:
import pandas as pd
import numpy as np
import requests 
import json

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
msas = 'drive/My Drive/Colab Notebooks/msas.csv'
msas = pd.read_csv(msas)
msas.head()

    CBSA                         NAME  POPESTIMATE2017
0  10180                  Abilene, TX           170219
1  10420                    Akron, OH           703505
2  10500                   Albany, GA           151434
3  10540                   Albany, OR           125047
4  10580  Albany-Schenectady-Troy, NY           886188

In [0]:
tableids = ['B01001','B03003', 'B19001']
tableidstring = ','.join(tableids)
tableids

['B01001', 'B03003', 'B19001']

In [0]:
requesturl = 'https://api.censusreporter.org/1.0/data/show/latest?table_ids=%s&geo_ids=310|01000US' % tableidstring

In [0]:
loadedjson = requests.get(requesturl)

parameter 1: Household income 50k-74.9k

parameter 2: Age 18-34

parameter 3: Large Hispanic Populations

In [0]:
parsedjson = loadedjson.json()

In [0]:
parsedjson.keys()

dict_keys(['release', 'tables', 'data', 'geography'])

In [0]:
# save age variables
ageM18_19 = 'B01001007'
ageM20 = 'B01001008'
ageM21 = 'B01001009'
ageM22_24 = 'B01001010'
ageM25_29 = 'B01001011'
ageM30_34 = 'B01001012'
ageF18_19 = 'B01001031'
ageF20 = 'B01001032'
ageF21 = 'B01001033'
ageF22_24 = 'B01001034'
ageF25_29 = 'B01001035'
ageF30_34 = 'B01001036'
ageTotal = ageM18_19 + ageM20 + ageM21 + ageM22_24 + ageM25_29 + ageM30_34 \
            + ageF18_19 + ageF20 + ageF21 + ageF22_24 + ageF25_29 + ageF30_34

In [0]:
# save income variables
income50 = 'B19001011'
income60 = 'B19001012'
incomeTotal = income50 + income60

In [0]:
# save hispanic variable
hispanicPop = 'B03003003'

In [0]:
df = pd.DataFrame({ 'income_50k': { id_: data['B19001']['estimate']['B19001011'] for id_, data in parsedjson['data'].items() }})
df.loc[df['income_50k'].idxmax()]

income_50k    444453.0
Name: 31000US35620, dtype: float64

In [0]:
df = pd.DataFrame({ 'income_60k': { id_: data['B19001']['estimate']['B19001012'] for id_, data in parsedjson['data'].items() }})
df.loc[df['income_60k'].idxmax()]

income_60k    606435.0
Name: 31000US35620, dtype: float64

31000US35620 = Newark, NJ

In [0]:
df = pd.DataFrame({ 'ageM18_19': { id_: data['B01001']['estimate']['B01001007'] for id_, data in parsedjson['data'].items() }})
df.loc[df['ageM18_19'].idxmax()]

ageM18_19    248434.0
Name: 31000US35620, dtype: float64

In [0]:
df = pd.DataFrame({ 'ageM20': { id_: data['B01001']['estimate']['B01001008'] for id_, data in parsedjson['data'].items() }})
df.loc[df['ageM20'].idxmax()]

ageM20    133732.0
Name: 31000US35620, dtype: float64

In [0]:
df = pd.DataFrame({ 'ageM21': { id_: data['B01001']['estimate']['B01001009'] for id_, data in parsedjson['data'].items() }})
df.loc[df['ageM21'].idxmax()]

ageM21    132580.0
Name: 31000US35620, dtype: float64

In [0]:
df = pd.DataFrame({ 'ageM22_24': { id_: data['B01001']['estimate']['B01001010'] for id_, data in parsedjson['data'].items() }})
df.loc[df['ageM22_24'].idxmax()]

ageM22_24    411899.0
Name: 31000US35620, dtype: float64

In [0]:
df = pd.DataFrame({ 'ageM25_29': { id_: data['B01001']['estimate']['B01001011'] for id_, data in parsedjson['data'].items() }})
df.loc[df['ageM25_29'].idxmax()]

ageM25_29    750663.0
Name: 31000US35620, dtype: float64

In [0]:
df = pd.DataFrame({ 'ageM30_34': { id_: data['B01001']['estimate']['B01001012'] for id_, data in parsedjson['data'].items() }})
df.loc[df['ageM30_34'].idxmax()]

ageM30_34    714983.0
Name: 31000US35620, dtype: float64

31000US35620 = Newark New Jersey

In [0]:
df = pd.DataFrame({ 'ageF18_19': { id_: data['B01001']['estimate']['B01001031'] for id_, data in parsedjson['data'].items() }})
df.loc[df['ageF18_19'].idxmax()]

ageF18_19    237913.0
Name: 31000US35620, dtype: float64

In [0]:
df = pd.DataFrame({ 'ageF20': { id_: data['B01001']['estimate']['B01001032'] for id_, data in parsedjson['data'].items() }})
df.loc[df['ageF20'].idxmax()]

ageF20    129681.0
Name: 31000US35620, dtype: float64

In [0]:
df = pd.DataFrame({ 'ageF21': { id_: data['B01001']['estimate']['B01001033'] for id_, data in parsedjson['data'].items() }})
df.loc[df['ageF21'].idxmax()]

ageF21    129093.0
Name: 31000US35620, dtype: float64

In [0]:
df = pd.DataFrame({ 'ageF22_24': { id_: data['B01001']['estimate']['B01001034'] for id_, data in parsedjson['data'].items() }})
df.loc[df['ageF22_24'].idxmax()]

ageF22_24    416225.0
Name: 31000US35620, dtype: float64

In [0]:
df = pd.DataFrame({ 'ageF25_29': { id_: data['B01001']['estimate']['B01001035'] for id_, data in parsedjson['data'].items() }})
df.loc[df['ageF25_29'].idxmax()]

ageF25_29    762402.0
Name: 31000US35620, dtype: float64

In [0]:
df = pd.DataFrame({ 'ageF30_34': { id_: data['B01001']['estimate']['B01001036'] for id_, data in parsedjson['data'].items() }})
df.loc[df['ageF30_34'].idxmax()]

ageF30_34    730200.0
Name: 31000US35620, dtype: float64

31000US35620 = Newark New Jersey

In [0]:
df = pd.DataFrame({ 'hispanicPop': { id_: data['B03003']['estimate']['B03003003'] for id_, data in parsedjson['data'].items() }})
df.loc[df['hispanicPop'].idxmax()]

hispanicPop    5972751.0
Name: 31000US31080, dtype: float64

31000US31080 = Los Angeles, CA